body {
    background-image: url("back.jfif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

h1 {
    font-size: 50px;
    color: goldenrod;
    font-family: "Informal Roman", cursive;
}

p {
    text-align: center;
    font-weight: bold;
    color: goldenrod;
    font-size: 30px;
}

label {
    font-weight: bold;
}

#loginBut {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 4px 30px;
    transform: translate(-50%, -50%);
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

#signUpCust {
    padding: 4px 25px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

#signUpMan {
    padding: 4px 28px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

#signUpCour {
    padding: 4px 32px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

#orderBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

.buttonHolder {
    text-align: center;
    position: relative;
}

.introduction {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


#signUpCustBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

#signUpCourBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

#signUpManBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

.custSignUp {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    color: white;
}

.courSignUp {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    color: white;
}

.manSignUp {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    color: white;
}

.courierInfo {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 30px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.courierReviews {
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 30px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.currentOrder {
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 30px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.orderconf {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 30px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.adminInfo {
    position: absolute;
    top: 20%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.pendingCouriers {
    position: absolute;
    top: 60%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.pendingManagers {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.pendingDishes {
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 20px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.divCourierApprove {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.courregapproved {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.divManagerApprove {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.manregapproved {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.divDishApprove {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.dishregapproved {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.courregrejected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.dishregrejected{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.manregrejected{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.searchUsers{
    position: absolute;
    top: 7%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.usersFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.userFF{
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.userFOrders{
    position: absolute;
    top: 25%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.madeadm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.customerInfo {
    position: absolute;
    top: 23%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 23px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.customerFriends{
    position: absolute;
    top: 55%;
    left: 12%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 23px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.customerFriendRequests{
    position: absolute;
    top: 55%;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 23px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.OrderHistory{
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 23px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.newOrder {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 23px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.userSearchBar {
    position: absolute;
    top: 7%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.restaurantDishes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.orderContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.noCouriers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.doneReview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.reqsent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.reviewCont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

#reviewBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
    background-color: goldenrod;
    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
}

.reqApp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}

.reqRej {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
    font-size: 25px;
    color: brown;
    border: 1px dashed #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    background-color: darkgoldenrod;
}