body {
    background-color : CornFlowerBlue;
}

h1 {
    font-size: 40px;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

label {
    font-weight: bold;
}

#loginBut {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 4px 30px;
    transform: translate(-50%, -50%);
}

#signUpCust {
    padding: 4px 25px;
}

#signUpMan {
    padding: 4px 28px;
}

#signUpCour {
    padding: 4px 32px;
}

.buttonHolder {
    text-align: center;
    position: relative;
}

.introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#signUpCustBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
}

#signUpCourBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
}

#signUpManBut {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 50px;
}

.custSignUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
}

.courSignUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
}

.manSignUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify-all;
}
#userLogin {

}